<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ethantien.m4">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDFJItnjDnBkcrBQYPJpa16r0I8lbxdTzY" />

        <activity android:name=".Controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.logScreen" />
        <activity android:name=".Controller.startApplication" />
        <activity android:name=".Controller.Register" />
        <activity android:name=".Controller.ViewingProfile" />
        <activity android:name=".Controller.WaterReports" />
        <activity android:name=".Controller.addReport" />
        <activity android:name=".Controller.viewReportDetails" />
        <activity android:name=".Controller.showMap" />
        <activity android:name=".Controller.viewPurityDetails" />
        <activity android:name=".Controller.addPurityReport" />
        <activity android:name=".Controller.PurityReports"></activity>
    </application>

</manifest>